<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="sk.entropia.brother-print"
        version="0.0.1">

    <name>Brother QL-720NW Printer</name>

    <description>
        Cordova plugin to print HTML documents using Brother print SDK to QL-720NW printer.
    </description>

    <repo>
        https://github.com/peterkajan/cordova-plugin-brother-print
    </repo>

    <keywords>
        print, printer, ios, QL-720NW, Brother,
    </keywords>

    <license>Apache 2.0</license>

    <author>Peter Kajan</author>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- interface -->
    <js-module src="www/printer.js" name="Brother Printer">
        <clobbers target="plugin.brohter-print" />
        <clobbers target="cordova.plugins.brother-print" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Brother Printer">
                <param name="ios-package" value="APPPrinter"/>
            </feature>
        </config-file>

        <header-file src="src/ios/APPPrinter.h" />
        <source-file src="src/ios/APPPrinter.m" />
    </platform>
</plugin>
